<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Follow example here on how to setup your own CosmosDB:  https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet-->
    <add key="endPoint" value="ADD YOUR OWN ENDPOINT HERE"/>
    <add key="authenticationKey" value="ADD YOUR OWN KEY HERE"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  
</configuration>