<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="urlHttp" value="http://localhost:7474/db/data" />
    <add key="urlBolt" value="bolt://localhost:7687" />
    <add key="user" value="neo4j" />
    <add key="password" value="neo456" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
  
</configuration>